<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Chat with {{user.username}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a style="color: #ddd" class="navbar-brand" href="/">VisageMagazine</a>
        <form action="logout/" method="POST">
          {% csrf_token %} 
          <input type="submit" class="btn btn-danger" value="Logout" />
        </form>
      </div>
    </nav>
    <main
      style="padding: 20px 0; min-height: calc(100vh - 103px)"
      class="container"
    >
      <h2>Your chat with {{partner.username}}</h2>

      {% for msg in msgs %}

      <i>From {{msg.source.username}} to {{msg.target.username}}</i><br />
      {{msg.content|safe}}
      <br />
      <br />

      {% endfor %}

      <h4>Reply</h4>
      
      <!-- FIX FOR FLAW 4: Change the method to POST and add the csrf-token back into the form -->
      <form action="/addChat/" method="GET" enctype="multipart/form-data">
        <!-- {% csrf_token %} --> 
        <input type="hidden" name="partnerid" value="{{partner.id}}" />
        <textarea name="content" style="width: 100%" rows="1"></textarea><br />
        <input
          style="float: right"
          type="submit"
          class="btn btn-primary"
          value="Send"
        />
      </form>
    </main>
  </body>
</html>
