<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Chirper</title>
    </head>


    <body>
		<h1>VisageMagazin</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}} 
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Your chat with {{partner.username}}</h2>

		{% for msg in msgs %}

		<i>From {{msg.source.username}} to {{msg.target.username}}</i></br>
		{{msg.content|safe}}
		</br>
		</br>

		{% endfor %}


        <h2>Reply</h2>

        <form action='/addChat/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="partnerid" value="{{partner.id}}" />
			<textarea name="content" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Send"/>
        </form>
    </body>


    </body>
</html>
